// 颜色定义规范
$color-background = #333
$color-background-d = #fff
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #4677C7
$color-theme-d = #58ACFF
$color-sub-theme = #5587d7
$color-text = #fff
$color-text-d = #3b3b3b
$color-text-l = #666
$color-text-ll = #888

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-medium-xx = 18px
$font-size-large = 20px
$font-size-large-x = 22px
$font-size-large-xx = 26px
